.home{
    background-color: var(--gris);
}

.home h1{
    width: 60%;
    text-align: center;
    padding: 4rem 0;
    font-family: 'Poppins', sans-serif; /* Utilise une police moderne comme Poppins */

}