/* src/css/frontoffice/home.css */

.home {
    position: relative;
    background-color: var(--gris); /* La couleur de fond si le fond d'écran est supprimé */
    overflow: hidden;
}

.carousel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0; /* Espacement au-dessus et en dessous du carrousel */
}

.carousel-container {
    width: 100%;
    max-width: 1200px; /* Ajuste selon les besoins */
    border-radius: 12px; /* Coins arrondis */
    overflow: hidden; /* Assure que l'image ne dépasse pas les bordures */
    background-color: #fff; /* Fond blanc pour le conteneur */
    position: relative;
    padding: 2rem; /* Ajout de padding pour plus d'espace */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Espacement entre les cartes */
}
