@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');



/* ----------- 1:= Constantes -------- */
:root{
  --gris : #F5F5F5;
  --background : #F8F8F8;
  --purple-gradient : linear-gradient(to bottom, #544297, #1B1531);
  --red-gradient : linear-gradient(to bottom, #E63232, #801C1C);
}




/* ----------- 2:= Global css ----------- */
a{
  text-decoration: none;
  color: var(--noir);
}

*{
  margin: 0;
  padding: 0;
}

main{
  max-width: 576px;
  background-color: var(--background);
}

h1{
  font-family: 'Konkhmer Sleokchher', sans-serif;
  letter-spacing: 2px;
}



/* ----------- 3:= Global classes ----------- */
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column{
  display: flex;
  flex-direction: column;
}

.w-100{
  width: 100%;
}

.h-100{
  min-height: 100vh;
}

.w-max-c{
  width: max-content;
}

.m-auto{
  margin: auto;
}

.jc_spacebetween{
  justify-content: space-between;
}

.jc_spacearround{
  justify-content: space-around;
}

.text_uppercase{
  text-transform: uppercase;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}